@media screen and (max-width:1000px) {
    div#responsive-menu{
        display:block;
    }
}

.header-user-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
#responsive-menu{
    display: none;
}
nav.bg-light {
    background-color: #0b63ce !important;
}

li.nav-item, a.nav-link {
    color: #ffffff !important;
}

#icon-liferay-header-use {
    width: 96px;
    height: 24px;
}
