.card-body-main-donate-detail {
    border: none !important;
}

.card-donate-detail-institute, .card-donate-detail-user {
    padding: 0 !important;
}

.card-donate-detail-user {
    text-align: center !important;
}

.card-img-top-donate-detail {
    max-height: 320px;
}

.button-site-donate-detail {
    margin-top: 16px;
}

.avatar-card-donate-detail {
    width: 64px;
    height: 64px;
    padding: 0;
    margin: 0;
}
