.card-img-top {
    height: 160px !important;
}

.card-avatar-name-container {
    width: 64px;
    position: relative;
    text-align: center;
}

.avatar-user-home-feed {
    width: 64px;
    height: 64px;
}

#job-user-home-feed {
    margin-left: 8px;
    font-size: 12px;
}

.card-institute-info-containner {
    text-align: right !important;
}

#date-inst-home-feed {
    font-size: 12px;
}

.text-home-feed-style {
    font-weight: bold;
}
