.institution-container {
    position: relative;
    margin-top: 64px;
    margin-bottom: 64px;
}

.overflow-scroll {
    height: 100vh;
    overflow-y: scroll;
}

.sidebar-right-institution {
    position: relative;
    height: 100vh !important;
}

.sidebar-institution-container {
    text-align: center;
}

.filter-institution-container {
    background-color: #0b63ce4f;
    border-radius: 0 50px 50px 0;
    margin-bottom: 16px;
    padding: 16px;
}

#search-institution {
    width: 200px;
    border: none;
    border-radius: 36px;
    height: 36px;
    padding: 0 8px;
    background-color: #ffffff;
}

#select-filter-institution {
    width: 200px;
    margin: 0 16px;
    border-radius: 36px;
    display: inline;
}

#btn-filter-institution {
    border-radius: 36px;
}
