.register-activity-container {
    position: relative;
    margin-top: 64px;
    margin-bottom: 64px;
}

.sidebar-activity-container {
    text-align: center;
}

.overflow-scroll {
    height: 100vh !important;
    overflow-y: scroll !important;
}

.sidebar-right-register-activity {
    height: 100vh !important;
}

.button-new-activity-container {
    width: 100%;
    margin-top: 36px;
    text-align: center;
}

.button-new-register-activity {
    border-radius: 36px !important;
}
