.info-global-left-container {
    color: #ffffff;
    padding: 16px;
    border-radius: 0 50px 50px 0;
    background-color: #0b63ce;
    margin-right: 8px;
    margin-bottom: 16px;
}

.info-global-right-container {
    color: #ffffff;
    padding: 16px;
    border-radius: 50px 0 0 50px;
    background-color: #0b63ce;
    margin-left: 8px;
    margin-bottom: 16px;
}

.info-global-style {
    font-size: 12px;
    margin-left: 8px;
}

.title-info-global, .info-global {
    font-size: 14px;
    font-weight: bold;
}
